<head>
    <meta charset="utf-8">
    <title>Bulk Mailer</title>
    <!--     <link rel="stylesheet" href="css/mail.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"> -->
</head>

<body>



    <div id="mailform1" data-formtbid="1-doc" class="mailformContainerL2">
        <div style="Display: inline" class="mailformHeaderBand1"></div>
        <Span id="tbInternalID"></Span>
        <input class="tbButtonSmall" type="button" id="removeSubscriber" value="Remove Subscribers" />



        <hr>
        <!-- <div class="mailformHeaderBand2">Bulk Mail Information </div> -->

        <!--  first set of fields -->
        <div class="mailformDiv2">
            <!-- first field -->
            <div class="mailformDiv2">
                <div class="mailformDiv2 mailformDiv2LabelArea">
                    Address To Be Removed:
                </div>
                <div id="mailFormFrom" class="mailformDiv2 mailformDiv2FieldArea" contenteditable="true">
                    <!-- From who? --> jcox@tbcox.com
                </div>
            </div>
            <div class="mailformDiv2">
                <div class="mailformDiv2 mailformDiv2LabelArea">
                    Associated Name:
                </div>
                <div title="To bulk email your Subscribers enter the word Subscribers. Or send email without Subscribers list, enter one or more email addresses separated by comma"
                    id="mailFormTo" class="mailformDiv2 mailformDiv2FieldArea" contenteditable="true">
                    <!-- To Who? Enter the word "Subscriber" or valid email address jcox@tbcox.com--> Subscribers
                </div>
            </div>
            <div class="mailformDiv2">
                <div class="mailformDiv2LabelArea mailformDiv2">
                    Request:
                </div>
                <div id="mailFormSubject" class="mailformDiv2 mailformDiv2FieldArea" contenteditable="true">
                    <!-- Enter subject --> Remove my email address from Subscribers List
                </div>
            </div>

            <div class="mailformDiv2">
                <div class="mailformDiv2LabelArea mailformDiv2">
                    uid:
                </div>
                <div id="subscriberID" class="mailformDiv2 mailformDiv2FieldArea" contenteditable="true">
                    <!-- Enter subject --> 5caab2700f8c5b330d6e1f7d
                </div>
            </div>

        </div>


        <div class="jspacer"></div>

        <hr>
        <div class="mailformHeaderBand2">Thank you!</div>

    </div>



    <!-- End Content Area -->
    <!-- 
    <script src="/scripts-framework/jquery.js"></script>
    <script src="/tinymce/tinymce.min.js"></script>
    <script src="/scripts/subscriber.js"></script>
    <script src="/scripts/reportsdatatables.js"></script>
    <script src="/scripts/mailer.js"></script> -->

</body>