<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <title>Unsubscribe Response from Server</title>
</head>

<body>
    <div class="container">
        <h2>Subscriber list Removal Status</h2>
        <%= typeof msg != 'undefined' ? msg : '' %>
        <br>
        <p>Maybe you have been removed already!</p>
        <p>If you do continue to receive unwanted email from use click here...</p>
        <!--   <img src="<%= typeof file != 'undefined' ? file : '' %>" class="responsive-img"> -->
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>

</html>